body {
    font-family: Monospace;
    background-color: black;
    color: white;
    margin: 0px;
    overflow: hidden;
}

#canvasContainer {
    position: relative;
}

/* JOYPAD */
#joypad {
    position: absolute;
    top: 0;
    right: 0;
    width: 145px;
}

